*{
    box-sizing: border-box;
}

#content{
    width: 90%;
    max-width: 940px;
    margin: 0 auto;
    padding: 2em 1em;
}

.inline-form{
    display: inline-block;
    padding: 0;
    margin: 0 0 1em 0;
}

.inline-form button{
    border: 1px solid gray;
    padding: 0;
    margin: 0;
    background-color: lightgray;
    border-radius: 5px;
}

#footer{
    text-align: center;
}

.pixel-heart{
    width: 1em;
    margin: 0 0.25em;
}
